bin/
obj/
Properties
__docker_temp
.vs/
Pages
.dockerignore
Dockerfile
docker-compose.yml
.env
.env.*
!.env.example
wwwroot/frontend/
wwwroot/backup.zip
wwwroot/wwwroot.zip
wwwroot/React.md
wwwroot/README.md
wwwroot/.env*
wwwroot/.gitignore
wwwroot/.DS_Store
wwwroot/vite.svg
